In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
pd.__version__

'1.0.1'

In [6]:
order_data = pd.read_csv('order.csv')

In [7]:
order_data

     1  2019-08-01 09:15:00  10005  20190801091540  48.43
0    2  2019-08-01 10:00:00  10001  20190801100006  89.33
1    3  2019-08-01 10:04:00  10003  20190801091540  63.86
2    4  2019-08-01 12:17:00  10002  20190801121742   3.16
3    5  2019-08-01 14:05:00  10001  20190801140515  87.15
4    6  2019-08-01 14:05:00  10004  20190801140529  88.65
..  ..                  ...    ...             ...    ...
77  79  2019-08-10 19:10:00  10003  20190810191026  68.86
78  80  2019-08-10 19:14:00  10002  20190810191433  68.07
79  81  2019-08-11 15:11:00  10007  20190811151111  52.76
80  82  2019-08-12 15:16:00  10007  20190812151638  61.90
81  83  2019-08-13 15:14:00  10002  20190813151443  46.87

[82 rows x 5 columns]

In [ ]:
order['dt'] = order['ts']